h2
{
	border:1px solid #717D85;
	background-color:#B8C1C8; 
	padding: 12px;
	position: sticky;
	top:-1px;  
	color:white;
} 
li{
	
	border-bottom:1px solid black; 
	list-style: none;
	padding:10px; 
	padding-left: 0px; 
	margin-left: 0px; 
	font-size: 25px;
	font-weight:900; 
	border-color:#ccc; 

} 
body
{
	overflow: scroll;
} 
